{% extends "admin/base_admin.html" %}

{% block title %}Sineas Portal - Admin Dashboard{% endblock %}

{% block content %}

{% include "admin/partials/dashboard.html" %}
{% include "admin/partials/movies_list.html" %}
{% include "admin/partials/actors.html" %}
{% include "admin/partials/genres.html" %}
{% include "admin/partials/festivals.html" %}
{% include "admin/partials/approvals.html" %}
{% include "admin/partials/users.html" %}
{% include "admin/partials/modals.html" %}

{% endblock %}

{% block scripts %}
<script src="/static/js/admin/core.js?v=112"></script>
<script src="/static/js/admin/dashboard.js?v=111"></script>
<script src="/static/js/admin/movies.js?v=111"></script>
<script src="/static/js/admin/editor.js?v=111"></script>
<script src="/static/js/admin/actors.js?v=111"></script>
<script src="/static/js/admin/genres.js?v=111"></script>
<script src="/static/js/admin/festivals.js?v=111"></script>
<script src="/static/js/admin/festivals_editor.js?v=111"></script>
<script src="/static/js/admin/approvals.js?v=111"></script>
<script src="/static/js/admin/users.js?v=111"></script>
{% endblock %}