{% extends "base.html" %}

{% block title %}Sahabat Bradpitt - My Profile{% endblock %}

{% block content %}
<main class="flex-grow pt-[80px] pb-16">
    {% include "auth/partials/profile_header.html" %}
    {% include "auth/partials/profile_tabs.html" %}
</main>
{% endblock %}

{% block extra_js %}
<script src="/static/js/auth/profile_core.js"></script>
<script src="/static/js/auth/profile_lists.js"></script>
<script src="/static/js/auth/profile_preferences.js"></script>
{% endblock %}